#DoiButton {
    background-color: #26517D; /* Green */
    border: 2px solid black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 4px;
}