# ignore folders merged from separate repository framework
library/Opus
library/Apache
library/Zend
library/jpgraph
db/schema

# ignore any third-party library
vendor

# ignore composer runtime
composer.phar
composer.lock

# ignore all workspace files
workspace/**/*

# ignore further files created by Opus4 installer
apacheconf/apache.conf
application/configs/config.ini
db/createdb.sh
public/.htaccess
public/js

tests/build/
tests/config.ini
tests/workspace/**/*

downloads
components
