sudo: required
dist: xenial
language: php
php:
  - 7.0
jdk:
  - openjdk8
services:
  - mysql
addons:
  apt:
    packages:
      - ant
      - libxml2-utils
cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/downloads
install:
  - phpenv config-add travis.php.ini
before_script: composer install
script:
  - mysql --version
  - java -version
  - ant -version
  - ant prepare-test-workspace prepare-workspace prepare-config -DdbUserName=root -DdbAdminName=root
  - php db/createdb.php
  - mysql opusdb -u root --password='' -e 'SELECT * FROM schema_version'
  - ant download-solr -DsolrVersion=7.7.1 -DdownloadDir=$HOME/downloads
  - cd solr-7.7.1
  - ./bin/solr start
  - ./bin/solr create -c opus4
  - cd server/solr/opus4/conf
  - rm -f managed-schema schema.xml solrconfig.xml
  - ln -s "$TRAVIS_BUILD_DIR/vendor/opus4-repo/search/config/schema.xml" schema.xml
  - ln -s "$TRAVIS_BUILD_DIR/vendor/opus4-repo/search/config/solrconfig.xml" solrconfig.xml
  - cd ../../../../
  - ./bin/solr restart
  - cd ..
  - ant reset-testdata
  - ./vendor/bin/phpunit --configuration ./tests/phpunit.xml --no-coverage ./tests/modules
