AllowEncodedSlashes On

Alias /OPUS_URL_BASE "/BASEDIR/public/"
<Directory "/BASEDIR/public/">
 Options FollowSymLinks
 AllowOverride All
 Order deny,allow
 Deny from all
 Allow from all
</Directory>

<IfModule mod_rewrite.c>
 RewriteEngine on
 RewriteLog /BASEDIR/workspace/log/rewrite.log
 RewriteLogLevel 1
</IfModule>
