; This file is part of OPUS. The software OPUS has been originally developed
; at the University of Stuttgart with funding from the German Research Net,
; the Federal Department of Higher Education and Research and the Ministry
; of Science, Research and the Arts of the State of Baden-Wuerttemberg.
; 
; OPUS 4 is a complete rewrite of the original OPUS software and was developed
; by the Stuttgart University Library, the Library Service Center
; Baden-Wuerttemberg, the Cooperative Library Network Berlin-Brandenburg,
; the Saarland University and State Library, the Saxon State Library -
; Dresden State and University Library, the Bielefeld University Library and
; the University Library of Hamburg University of Technology with funding from
; the German Research Foundation and the European Regional Development Fund.
; 
; LICENCE
; OPUS is free software; you can redistribute it and/or modify it under the
; terms of the GNU General Public License as published by the Free Software
; Foundation; either version 2 of the Licence, or any later version.
; OPUS is distributed in the hope that it will be useful, but WITHOUT ANY
; WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
; FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
; details. You should have received a copy of the GNU General Public License
; along with OPUS; if not, write to the Free Software Foundation, Inc., 51
; Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
; 
; @category    Application
; @author      Ralf Claussnitzer <ralf.claussnitzer@slub-dresden.de>
; @copyright   Copyright (c) 2008, OPUS 4 development team
; @license     http://www.gnu.org/licenses/gpl.html General Public License
; @version     $Id: config.ini.template 659 2008-09-01 11:03:28Z claussnitzer $

; Database adapter configuration using standard Zend_db option names.
; Have a look on Zend_Db::factory() method for information about adapter creation.

; Database adapter configuration using standard Zend_db option names.
; Have a look on Zend_Db::factory() method for information about adapter creation.

[production]
db.params.host     =  
db.params.username = 
db.params.password = 
db.params.dbname   = 

webapi.protocol = http
webapi.host     = localhost
webapi.docroot  = /bsz_opus_application/public
webapi.modul    = webapi

;PHP SETTINGS
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
; TODO verify the two settings below
phpSettings.error_reporting = E_ALL | E_STRICT
phpSettings.date.timezone = Europe/Berlin

;ZEND_APPLICATION SETTINGS
includePaths.library = APPLICATION_PATH "/library"
bootstrap.path = APPLICATION_PATH "/tests/TestHelper.php"
bootstrap.class = "TestHelper"
appnamespace = "Application"
autoloaderNamespaces.apache = 'Apache_'
autoloaderNamespaces.opus = 'Opus_'
autoloaderNamespaces.form = 'Form_'
autoloaderNamespaces.controller = 'Controller_'

workspacePath = APPLICATION_PATH "/tests/workspace"

; LOCALE SETTINGS (TODO verify)
resources.locale.default = de

;SEARCH ENGINE SETTINGS
searchengine.engine = Solr              ; searchengine to be used: Lucene or Solr
searchengine.solr.host = opus4ci.zib.de ; test instance on ci server
searchengine.solr.port = 8983           ; default port 8983
searchengine.solr.app = solr

[testing : production]
sql.schema.path =

