<?xml version="1.0"?>

<phpunit bootstrap="./Bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         processIsolation="false">

    <testsuites>
        <testsuite name="scripts">
            <directory>./scripts</directory>
        </testsuite>

        <testsuite name="library">
            <directory>./library</directory>
        </testsuite>

        <testsuite name="modules">
            <directory>./modules</directory>
            <exclude>./modules/admin</exclude>
        </testsuite>

        <testsuite name="admin">
            <directory>./modules/admin</directory>
        </testsuite>

        <testsuite name="security">
            <directory>./security</directory>
        </testsuite>
    </testsuites>

    <!-- Define directories/files filter for code coverage. -->
    <filter>
        <!-- Define directories to include. -->
        <whitelist>
            <directory suffix=".php">../modules</directory>
            <directory suffix=".php">../library/Application</directory>
            <directory suffix=".php">../library/Controller</directory>
            <directory suffix=".php">../library/Form</directory>
            <directory suffix=".php">../library/Util</directory>
            <directory suffix=".php">../library/View</directory>
        </whitelist>
    </filter>

</phpunit>
