#!/bin/bash

# This file is part of OPUS. The software OPUS has been originally developed
# at the University of Stuttgart with funding from the German Research Net,
# the Federal Department of Higher Education and Research and the Ministry
# of Science, Research and the Arts of the State of Baden-Wuerttemberg.
#
# OPUS 4 is a complete rewrite of the original OPUS software and was developed
# by the Stuttgart University Library, the Library Service Center
# Baden-Wuerttemberg, the Cooperative Library Network Berlin-Brandenburg,
# the Saarland University and State Library, the Saxon State Library -
# Dresden State and University Library, the Bielefeld University Library and
# the University Library of Hamburg University of Technology with funding from
# the German Research Foundation and the European Regional Development Fund.
#
# LICENCE
# OPUS is free software; you can redistribute it and/or modify it under the
# terms of the GNU General Public License as published by the Free Software
# Foundation; either version 2 of the Licence, or any later version.
# OPUS is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
# FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
# details. You should have received a copy of the GNU General Public License
# along with OPUS; if not, write to the Free Software Foundation, Inc., 51
# Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.

set -e
script_dir=$(cd `dirname $0` && pwd)

#
# begin editable part
#

# user should has rights to drop and create a database (grant rights)
user=
password=
# host=localhost
# port=3306
dbname=opus400

# path to mysql binary
mysql_bin=/usr/bin/mysql
# path to schema file
schema_file=$script_dir/../db/schema/opus410.sql
# path to different sql locations
master_dir=$script_dir/../db/masterdata/
test_dir=$script_dir/sql/

# path to directory that contains test fulltexts
fulltext_dir=$script_dir/fulltexts
# path to workspace directory
workspace_dir=$script_dir/../workspace
# path to workspace directory that hosts fulltexts
workspace_files_dir=$workspace_dir/files
# path to workspace directory thats hosts log files
workspace_log_dir=$workspace_dir/log
# path to workspace directory that hosts temporary files
workspace_tmp_dir=$workspace_dir/tmp
# path to workspace directory that hosts cached files
workspace_cache_dir=$workspace_dir/cache

# path to test workspace
workspace_test_dir=$script_dir/workspace

#
# end editable part
# 

mysql="${mysql_bin} --default-character-set=utf8 --user=${user} --host=${host}"

if [ -n "${password}" ]; then
    mysql="${mysql} --password=${password}"
fi

#Delete database
echo "Dropping database: ${dbname}"
echo "DROP DATABASE IF EXISTS ${dbname};" | ${mysql}

#Creating database
echo "Creating database: ${dbname}"
echo "CREATE SCHEMA IF NOT EXISTS ${dbname} DEFAULT CHARACTER SET = utf8 DEFAULT COLLATE = utf8_general_ci;" | ${mysql}

#Import database schema
echo "Importing database schema file '${schema_file}'"
${mysql} ${dbname} < ${schema_file}

#Import master data
if [ -d ${master_dir} ] ; then
    for i in `find ${master_dir} -name '*.sql' \( -type f -o -type l \) | sort`; do
        echo "Inserting file '${i}'"
        ${mysql} ${dbname} < "${i}"
    done
fi

#Import test data
if [ -d ${test_dir} ] ; then
    for i in `find ${test_dir} -name '*.sql' \( -type f -o -type l \) | sort`; do
        echo "Inserting file '${i}'"
        ${mysql} ${dbname} < "${i}"
    done
fi

#Backup old fulltexts and log files
TEMP_DIR=$(mktemp -d $workspace_tmp_dir/old-XXXXXXX)
mkdir -v $TEMP_DIR/{files,log}
mv $workspace_files_dir/ $TEMP_DIR/files
rm -rf $TEMP_DIR/files/.svn

mv $workspace_log_dir/ $TEMP_DIR/log
rm -rf $TEMP_DIR/log/.svn
 
cd $workspace_dir
svn up
cd -
echo -e "\n*** Created backup of fulltexts and log files in $TEMP_DIR ***\n"

cd $workspace_test_dir
rm -rf *
svn up
cd -

#Copy test fulltexts to workspace
rsync -rv --exclude=.svn $fulltext_dir/ $workspace_files_dir

touch $workspace_log_dir/{opus.log,opus-console.log}
chmod -R o+w,g+w {$workspace_files_dir,$workspace_log_dir}

