/**
 * This file is part of OPUS. The software OPUS has been originally developed
 * at the University of Stuttgart with funding from the German Research Net,
 * the Federal Department of Higher Education and Research and the Ministry
 * of Science, Research and the Arts of the State of Baden-Wuerttemberg.
 *
 * OPUS 4 is a complete rewrite of the original OPUS software and was developed
 * by the Stuttgart University Library, the Library Service Center
 * Baden-Wuerttemberg, the Cooperative Library Network Berlin-Brandenburg,
 * the Saarland University and State Library, the Saxon State Library -
 * Dresden State and University Library, the Bielefeld University Library and
 * the University Library of Hamburg University of Technology with funding from
 * the German Research Foundation and the European Regional Development Fund.
 *
 * LICENCE
 * OPUS is free software; you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software
 * Foundation; either version 2 of the Licence, or any later version.
 * OPUS is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details. You should have received a copy of the GNU General Public License
 * along with OPUS; if not, write to the Free Software Foundation, Inc., 51
 * Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 *
 * @category    Application
 * @author      Jens Schwidder <schwidder@zib.de>
 * @copyright   Copyright (c) 2008-2010, OPUS 4 development team
 * @license     http://www.gnu.org/licenses/gpl.html General Public License
 * @version     $Id$
 */

h1 span.info {
    font-weight: normal;
}

.reviewContainer {
}

.reviewContainer .error {
    text-align: center;
    color: red;
}

.reviewContainer .paginationControl {
    text-align: center;
    margin: 4px 0px;
    padding: 2px;
    background-color: #bfdfff;
}

.reviewContainer .paginationControl a {
    text-decoration: none;
    color: black;
}

.reviewContainer .paginationControl a:visited {
    text-decoration: none;
    color: black;
}

.reviewContainer .paginationControl a:hover {
    text-decoration: none;
    color: blue;
}

.reviewContainer .paginationControl span.currentPage {
    font-weight: bold;
}

.reviewContainer .paginationControl span.disabled {
    color: gray;
}

.reviewContainer table.result {
    border-collapse: collapse;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: small;
}

.reviewContainer table.result td {
    vertical-align: top;
    padding: 4px 4px;
}

.reviewContainer table.result td.index {
    text-align: right;
}

.reviewContainer table.result tr.odd {
    background: #f4f4f4;
} 

.reviewContainer table.result tr.even {
    background: white;
}

.reviewContainer .title {
    font-weight: normal;
}

.reviewContainer .authors {
    font-style: italic;
}

.reviewContainer .instruction {
    font-weight: normal;
}


.adminContainer table tr.odd {
    background: #f4f4f4;
}

.adminContainer table tr.even {
    background: white;
}

.adminContainer .breadcrumbsContainer {
    font-size: large;
    margin-bottom: 0.5em;
}

.adminContainer span.label {
    display: table-cell;
    width: 15em;
    padding: 2px;
    padding-left: 0.5em;
    border-bottom: 2px solid white;
    background-color: lightgray;
}

.adminContainer span.value {
    display: table-cell;
    text-align: left;
    padding: 2px;
    padding-left: 0.5em;
    border-bottom: 2px solid white;
    background-color: #eeeeee;
    width: 50em;
}