/* 
    Document   : admin.css
    Created on : Aug 24, 2010, 3:42:23 PM
    Author     : jens
    Description:
        Purpose of the stylesheet follows.
*/

h1 span.info {
    font-weight: normal;
}

.reviewContainer {
}

.reviewContainer .error {
    text-align: center;
    color: red;
}

.reviewContainer .paginationControl {
    text-align: center;
    margin: 4px 0px;
    padding: 2px;
    background-color: #bfdfff;
}

.reviewContainer .paginationControl a {
    text-decoration: none;
    color: black;
}

.reviewContainer .paginationControl a:visited {
    text-decoration: none;
    color: black;
}

.reviewContainer .paginationControl a:hover {
    text-decoration: none;
    color: blue;
}

.reviewContainer .paginationControl span.currentPage {
    font-weight: bold;
}

.reviewContainer .paginationControl span.disabled {
    color: gray;
}

.reviewContainer table.result {
    border-collapse: collapse;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: small;
}

.reviewContainer table.result td {
    vertical-align: top;
    padding: 4px 4px;
}

.reviewContainer table.result td.index {
    text-align: right;
}

.reviewContainer table.result tr.odd {
    background: #f4f4f4;
} 

.reviewContainer table.result tr.even {
    background: white;
}

.reviewContainer .title {
    font-weight: normal;
}

.reviewContainer .authors {
    font-style: italic;
}

.reviewContainer .instruction {
    font-weight: normal;
}


.adminContainer table tr.odd {
    background: #f4f4f4;
}

.adminContainer table tr.even {
    background: white;
}
