/**
 * This file is part of OPUS. The software OPUS has been originally developed
 * at the University of Stuttgart with funding from the German Research Net,
 * the Federal Department of Higher Education and Research and the Ministry
 * of Science, Research and the Arts of the State of Baden-Wuerttemberg.
 *
 * OPUS 4 is a complete rewrite of the original OPUS software and was developed
 * by the Stuttgart University Library, the Library Service Center
 * Baden-Wuerttemberg, the Cooperative Library Network Berlin-Brandenburg,
 * the Saarland University and State Library, the Saxon State Library -
 * Dresden State and University Library, the Bielefeld University Library and
 * the University Library of Hamburg University of Technology with funding from
 * the German Research Foundation and the European Regional Development Fund.
 *
 * LICENCE
 * OPUS is free software; you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software
 * Foundation; either version 2 of the Licence, or any later version.
 * OPUS is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details. You should have received a copy of the GNU General Public License
 * along with OPUS; if not, write to the Free Software Foundation, Inc., 51
 * Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 *
 * @category    Application
 * @author      Jens Schwidder <schwidder@zib.de>
 * @copyright   Copyright (c) 2008-2017, OPUS 4 development team
 * @license     http://www.gnu.org/licenses/gpl.html General Public License
 */

/* Page specific settings
------------------------------------------------------------ */
#content.home{
	background: #eaedf2 url(../img/theme/bg_content.jpg) repeat-x;
}
#content.home h2{
	background-color: transparent;
	border: none;
	padding: 15px 0 0;
}
.opus.solrsearch_search h2,
.opus.solrsearch_advanced h2{
	margin-bottom: 15px;
}
.solrsearch #form-wrapper,
.solrsearch #form-search,
.solrsearch_advanced .form-wrapper,
.solrsearch_invalidsearchterm .form-wrapper,
.solrsearch_search .form-wrapper{
	background-color: #f3f6f8;
	margin: 0;
	padding: 15px 225px;
}
.opus.solrsearch #form-search{
	padding: 25px 225px;
}
.solrsearch_search table.search-form-table,
.solrsearch_advanced table.search-form-table {
	padding: 0 15px 10px 15px;
}
/* frontdoor */
#titlemain-wrapper{
	background: #F3F6F8 url(../img/theme/icon-title-frontdoor.gif) no-repeat 4px 6px;
}
#titlemain-wrapper h2{
	font-size: 16px;
	padding: 7px 10px 7px 26px;
}
#titlemain-wrapper h3{
	font-size: 14px;
	padding: 0 10px 7px 26px;
}
#titlemain-wrapper h2,
#titlemain-wrapper h3{
	margin: 0;
	font-weight: normal;
	color: #333;
	background-color: transparent;
	text-transform: none;
	line-height: normal;
}
#result-data{
	float: left;
	width: 60%;
}
.services-menu{
	float: right;
	width: 30%;
}
.services,
.facet{
	/*background-color: #f3f6f8;
	border: solid #e2e6e9;
	border-width: 0 0 1px;*/
	background: url(../img/theme/bg_facets.jpg) repeat-x 0 0;
	padding: 5px 10px 10px;
}
.services{
	margin: 1.4em 0;
}
.facet{
	margin: 1em 0;
}
.facetValueExtender {
    margin: 0.75em;
}
.services ul{
	margin: 0 0 1em;
	padding: 0;
	list-style: none;
}
#download-fulltext{
    word-wrap: break-word;
}

#download-fulltext li img.file-icon {
	margin-right: 0.5em;
}

#download-fulltext span.file-language {
    font-style: italic;
    color: gray;
}

#export li{
	display: inline;
    float: left;
    margin-right: 2px;
}
#export::after {
    content: "";
    display: block;
    clear: both;
}

.search_export_xml a.export,
#export a.export {
    text-decoration: none;
    font-size: 1.2em;
    background: #8aa3bb;
    color: white;
    padding: 0.1em 0.3em;
    margin: 0 2px;
}

.search_export_xml a.export {
    float: right;
}

#services h3,
.facet h4{
	padding: 0;
	border: solid #e2e6e9;
	border-width: 0 0 4px;
	display: inline-block;
}
#services h3{
	margin: 0 0 1em;
	font-weight: normal;
	font-size: 12px;
}
table.frontdoordata{
	clear: both;
	border-top: 2px solid white;
}
table.frontdoordata th,
table.frontdoordata td{
	padding: 3px 5px 3px 26px;
	border-bottom: 2px solid white;
}
table.frontdoordata th{
	background-color: #f3f6f8;
}
table.result-data {
	border-collapse: collapse;
	width: 100%;
	margin: 1em 0;
}
.frontdoordata caption{
	text-align: left;
	/*display: block;*/
	font-weight: bold;
	background: url(../img/theme/icon-metadata-bigger.gif) no-repeat 4px 50%;
	line-height: 21px;
	border: solid #e2e6e9;
	border-width: 0 0 4px;
}
.result-data th,
.result-data td{
	vertical-align: top;
	text-align: left;
	line-height: 1.4em;
}
.result-data td{
}
.frontdoor #author,
.frontdoor .abstract,
.frontdoordata caption{
	padding-left: 26px;
}
.frontdoor #author {
	margin: 1em 0;
	background: url(../img/theme/icon-author-frontdoor.gif) no-repeat 4px 0;
	line-height: 1.4em;
}
.frontdoordata th{
	padding-left: 26px;
	width: 28%;
}
.result-data .data-marker{
/*     	white-space: nowrap;    */
	font-style: normal;
}
.frontdoor div#abstract ul {
    list-style-type: none;
    padding-left: 0;
}
.frontdoor .abstract {
	background: url(../img/theme/icon-abstract-frontdoor.gif) no-repeat 3px 0;
	line-height: 1.4em;
    padding-bottom: 1.4em; /* Damit GIF vollständig zu sehen ist. */
}

.frontdoor .abstractShort {
    display: none;
}

.frontdoor .abstractFull {
}

.frontdoor .abstractThreeDots {
    display: none;
    padding-left: .25em;
    font-weight: bold;
}

.frontdoor .abstractButton {
    display: none;
    /* Soll verhindern, das der Zeilenabstand für Short und Full sich durch das Bild verändert. */
    position: relative;
    top: 3px;
    margin-top: -3px;
}

/* Pagination controls for all pages */
ul.paginationControl {
	list-style: none;
}

ul.paginationControl a.pagination-first,
ul.paginationControl .pagination-first,
ul.paginationControl a.pagination-prev,
ul.paginationControl .pagination-prev,
ul.paginationControl a.pagination-next,
ul.paginationControl .pagination-next,
ul.paginationControl a.pagination-last,
ul.paginationControl .pagination-last
{
    Color: green;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 12px;
    height: 13px;
    padding-left: 12px;
}

ul.paginationControl a.pagination-first {
    background: url(../img/theme/browse_item_first.png) no-repeat;
}

ul.paginationControl a.pagination-first:hover {
    background: url(../img/theme/browse_item_first_hover.png) no-repeat;
}

ul.paginationControl .pagination-first {
    background: url(../img/theme/browse_item_first_inactive.png) no-repeat;
}

ul.paginationControl a.pagination-prev {
    background: url(../img/theme/browse_item_prev.png) no-repeat;
}

ul.paginationControl a.pagination-prev:hover {
    background: url(../img/theme/browse_item_prev_hover.png) no-repeat;
}

ul.paginationControl .pagination-prev {
    background: url(../img/theme/browse_item_prev_inactive.png) no-repeat;
}

ul.paginationControl a.pagination-next {
    background: url(../img/theme/browse_item_next.png) no-repeat;
}

ul.paginationControl a.pagination-next:hover {
    background: url(../img/theme/browse_item_next_hover.png) no-repeat;
}

ul.paginationControl .pagination-next {
    background: url(../img/theme/browse_item_next_inactive.png) no-repeat;
}

ul.paginationControl a.pagination-last {
    background: url(../img/theme/browse_item_last.png) no-repeat;
}

ul.paginationControl a.pagination-last:hover {
    background: url(../img/theme/browse_item_last_hover.png) no-repeat;
}

ul.paginationControl .pagination-last {
    background: url(../img/theme/browse_item_last_inactive.png) no-repeat;
}

.frontdoor .frontdoor_pagination {
     background-color:#F3F6F8;
     overflow:hidden;
     margin-bottom:1em;
}

.frontdoor .frontdoor_pagination #pagination-link-hitlist {
     display:inline-block;
     margin: 0.8em 0.7em;
}

.frontdoor .frontdoor_pagination ul.paginationControl {
    float:right;
    background-color:transparent;
    width:auto;
    list-style: none;
    padding-right: 1em;
}

.frontdoor .frontdoor_pagination ul li {
    border:none;
}

.frontdoor .frontdoor_pagination #pagination-previous a,
.frontdoor .frontdoor_pagination #pagination-previous div,
.frontdoor .frontdoor_pagination #pagination-next a,
.frontdoor .frontdoor_pagination #pagination-next div
{
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 12px;
  height: 13px;
  margin-left: 9px;
}

.frontdoor .frontdoor_pagination #pagination-previous a {
    background: url(../img/theme/browse_item_prev.png) no-repeat;
}
.frontdoor .frontdoor_pagination #pagination-previous a:hover  {
    background: url(../img/theme/browse_item_prev_hover.png) no-repeat;
}
.frontdoor .frontdoor_pagination #pagination-previous div {
    background: url(../img/theme/browse_item_prev_inactive.png) no-repeat;
}

.frontdoor .frontdoor_pagination #pagination-next a {
    background: url(../img/theme/browse_item_next.png) no-repeat;
}
.frontdoor .frontdoor_pagination #pagination-next a:hover  {
    background: url(../img/theme/browse_item_next_hover.png) no-repeat;
}
.frontdoor .frontdoor_pagination #pagination-next div {
    background: url(../img/theme/browse_item_next_inactive.png) no-repeat;
}

.frontdoor .frontdoor_pagination #pagination-previous {
     border:none;
}

.frontdoor .frontdoor_pagination #pagination-current-hit,
.frontdoor .frontdoor_pagination #pagination-num-hits {
     font-weight: bold;
}

/* form styles
----------------------------------------------------------- */
.opus h3.document-type{
	text-transform: none;
	font-style: italic;
	background: url(../img/theme/icon-publish-black.gif) no-repeat 0 50%;
	font-size: 1.4em;
	padding: 0.5em 0 0.5em 34px;
	margin: 0 0 1em;
}
.button-wrapper{
	padding: 10px;
	text-align: right;
	clear: both;
}
.button-wrapper input{
	margin-left: 0.5em;
}
.required{
	color: #fe7c25;
}
fieldset .add-delete-wrapper{
	padding: 0;
	text-align: right;
}
.publish fieldset .form-item{
	float: left;
	clear: left;
	width: 100%;
	padding: 0.2em 0;
}
/*.publish fieldset .form-textfield,
.publish fieldset .form-textarea{
	max-width: 65%;
}
.publish .top-labels .form-textfield,
.publish .top-labels .form-textarea{
	max-width: none;
}*/
.form-multiple.even {
	padding: 0.5em 5px;
	margin: 0.5em -5px;
	float: left;
	width: 100%;
	background: #e2e6e9;
}
div > .form-button{
	background: #2b5580 url(../img/theme/bg_button.gif) repeat-x center;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #26517d;
	color: white;
	padding: 5px 5px;
	font-family: Arial, Helvetica, sans-serif;
}
div > .add-button,
div > .delete-button,
div > .up-button,
div > .down-button {
	padding-left: 22px;
}
div > .add-button{
	background: url(../img/theme/bg_button-add.gif) no-repeat 0 50%;
}
div > .down-button{
	background: url(../img/theme/bg_button-down.gif) no-repeat 0 50%;
}
div > .delete-button{
	background: url(../img/theme/bg_button-delete.gif) no-repeat 0 50%;
	border-color: #a5b5b5;
	color: black;
}
div > .up-button{
	background: url(../img/theme/bg_button-up.gif) no-repeat 0 50%;
	border-color: #a5b5b5;
	color: black;
	margin-left: 5px;
}
div > .abort-button{
	background: url(../img/theme/bg_button-abort.gif) repeat-x center;
	border-color: #a5b5b5;
	color: black;
}
.opus.publish fieldset{
	position: relative;
	border-top: 1px solid #e2e6e9;
	min-height: 8em;
	background: #f3f6f8;
	margin: 1em 0 1em;
}
.publish fieldset .hint{
	/*background: #e1e6ec;*/
	background: url(../img/theme/icon-hint-small.gif) no-repeat 0 0.2em;
	padding: 4px 6px 4px 20px;
	color: #6a7a7b;
	margin: 0 0 1em;
}
.opus fieldset .form-errors{
	clear: both;
}
.opus fieldset .form-files{
	width: 100%;
	margin-left: 610px;
	margin-top: -70px;
	color: #26517D;
}
.left-labels label,
.right-labels label{
	width: 24%;
	padding: 0 1em 0 0;
	float: left;
}
.right-labels label{
	text-align: right;
}
.top-labels label{
	text-align: left;
	display: block;
	float: none;
}
.opus fieldset .description,
.opus fieldset .form-errors{
	font-size: 0.85em;
}
.opus fieldset .form-errors ul,
.opus fieldset .form-errors p{
	margin: 0 0 0.8em;
	padding: 0;
	list-style: none;
	color: #cc3300;
}
.opus fieldset .form-files ul {
	margin: 0 0 0 0;
	padding-left: 1em;
	list-style: none;
}
.opus fieldset .form-files li {
	background: url(../img/theme/icon-dash-small.gif) no-repeat 0 50%;
	padding: 0 0 0 9px;
}
.opus .form-hint{
	padding: 0 10px;
}
.opus .form-hint.form-errors{
	padding: 4px 10px 4px 30px;
	margin: 1em 0;
	background-position: 10px 0.4em;
}
.opus fieldset .form-errors{
	padding: 2px 0 4px 20px;
	background-position: 0 0.2em;
}
.opus .form-hint.form-errors,
.opus fieldset .form-errors{
	background-image: url(../img/theme/icon-errors-small.gif);
	background-repeat: no-repeat;
}
#form-table-check td.label{
	border-right: 1px solid #26517C;
	text-align: right;
}
#form-table-check td.group{
	border-bottom: 1px solid #26517C;
	background-color: #E2E6E9;
	color: #6a7a7b;
	text-align: left;
}
/* HTML elements
------------------------------------------------------------ */
body{
	margin: 0;
	padding: 0;
	color: Black;
	background: #26517c;
	font: 100.01% Verdana, Geneva, Arial, Helvetica, sans-serif;
}
h1,
.opus h2,
.opus p{
	margin: 0 0 0.8em;
}
.opus h2{
	color: #26517d;
	background-color: #f3f6f8;
	padding: 4px 10px;
	font-weight: normal;
	font-size: 1.7em;
}
.opus h3{
	color: #333;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: normal;
	padding: 0 10px 4px;
}
a{
	color: #26517D;
	background-color: transparent;
}
a:hover{
	color: #FE7C25;
	background-color: transparent;
}
a:active{
	color: black;
	background-color: transparent;
}
a img{
	border: none;
}
.opus form{
	margin: 0;
}
.opus fieldset{
	border: #d4dde6 solid;
	border-width: 1px 0 0;
	padding: 10px 10px 10px;
	margin: 0 10px 1em;
}
.opus legend{
	color: #26517d;
	padding: 0 0 2px;
	text-transform: uppercase;
	font-size: 0.9em;
	border-bottom: 4px solid #e2e6e9;
}
/* IDs and Classes
--------------------------------------------------------------------- */
#container {
	background-color: white;
	float: left;
}
.intro{
	color: #26517D;
	background-color: transparent;
	line-height: 1.6em;
	float: left;
	padding: 0 0 40px;
}
.intro .col{
	width: 47%;
}
.col-left{
	float: left;
}
.col-right{
	float: right;
}
#logo {
    float: left;
}

#logo a {
    float: left;
    display: block;
	vertical-align: bottom;
    height: 70px;
    width: 169px;
    background: url(../img/logo/opus-logo.png) no-repeat left;
    padding: 8px 8px 8px 0;
}

#logo .openaccess-logo {
    float: left;
    font-size: 20px;
    color: #26517c;
    height: 100%;
    padding-top: 58px;
    padding-right: 8px;
    display: none; /* enable display in custom.css */
}

#top-header{
	background: #f4f6f8 url(../img/theme/bg_top-header.jpg) repeat-x bottom;
	color: #26517d;
	height: 33px;
	font: normal 12px Arial, Helvetica, sans-serif;
	line-height: 30px;
	float: left;
	width: 100%;
}
body > #top-header{
	height: auto;
	min-height: 33px;
}
.wrapper,
.messages,
#page-footer .wrapper{
	max-width: 960px;
	min-width: 800px;
	padding: 0 20px;
	margin: auto;
}
#lang-switch{
	float: left;
	/*margin: 0 0 0 10px;*/
	margin: 0;
}
#lang-switch li{
	padding: 0 7px 0 11px;
	background: url(../img/theme/langswitch-separator.png) no-repeat left center;
	float: left;
}
#lang-switch li.first{
	background: url(../img/theme/flag_ie.jpg) no-repeat left center;
	padding-left: 22px;
}
#lang-switch > li.first{
	background: url(../img/theme/flag.png) no-repeat left center;
}
#top-header em{
	font-style: normal;
	color: black;
	background-color: transparent;
}
#top-header a{
	color: #26517d;
	background-color: transparent;
	text-decoration: none;
}
#top-header a:hover{
	text-decoration: underline;
}
#login-bar{
	float: right;
	padding: 0 23px 0 0;
	margin: 0;
}
#header{
	height: 97px;
	background: url(../img/theme/bg_header.jpg) repeat-x;
	padding: 1px 0 0;
	float: left;
	width: 100%;
}
#primary-nav{
	float: right;
	height: 89px;
}
#primary-nav *{
	float: left;
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #26517d;
	background-color: transparent;
}
#primary-nav a{
	height: 89px;
	padding: 0 23px 0 15px;
}
#primary-nav .active a,
#primary-nav a:hover{
	background: url(../img/theme/button.jpg) no-repeat 100% 0;
}
#primary-nav .active *{
	color: #fe7c25;
}
#primary-nav span{
	padding: 58px 0 0;
	height: 31px;
}
#primary-nav a span{
	cursor: pointer;
}
#primary-nav .icon span{
	background-repeat: no-repeat;
	background-position: 50% 0;
}
#primary-nav .icon.active span{
	background-position: 50% -90px;
}
#primary-nav-search span{
	background-image: url(../img/theme/icon-search.png);
}
#primary-nav-browsing span{
	background-image: url(../img/theme/icon-browsing.png);
}
#primary-nav-publish span{
	background-image: url(../img/theme/icon-publish.png);
}
#content{
	background: white;
	min-height: 600px;
	float: left;
	width: 100%;
	padding: 15px 0 3em;
}
#content .wrapper{
	font-size: 0.8em;
}
.opus .messages{
	font: 0.8em "Courier New", Courier, monospace;
}
.opus .failure,
.opus .exceptionMessage,
.stacktrace pre,
.request pre,
.opus .notice{
	padding: 5px 10px;
	margin: 0 0 1em;
}
.opus .messages .failure,
.opus .exceptionMessage,
.opus .form-hint.form-errors{
	color: #a40000;
	background-color: #ffd4d4;
}
.stacktrace pre,
.request pre {
	color: #800000;
	background-color: #ffffb2;
}
.exceptionMessage,
.stacktrace pre,
.request pre {
        font: 1em "Courier New", Courier, monospace;
}

.opus .messages .notice{
	color: #008644;
	background-color: #d4ffea;
}
.content{
	float: left;
	width: 100%;
	margin-bottom: 1em;
}
#page-footer{
	clear: both;
	height: 163px;
	background: #e7ecf0 url(../img/theme/bg_footer.jpg) repeat-x bottom;
}
#logo-wrapper{
	height: 40px;
	text-align: right;
	margin: 0 0 1em
}
#page-footer .wrapper{
	font-size: 12px;
	color: white;
	background-color: transparent;
}
#page-footer .wrapper a{
	color: #dee5eb;
	background-color: transparent;
}
#page-footer .wrapper a:hover{
	text-decoration: underline;
}
#secondary-nav li{
	float: left;
	padding: 3px 11px 5px;
	background: url(../img/theme/footer-separator.jpg) no-repeat right center;
}
#secondary-nav li.first{
	padding-left: 0;
}
#secondary-nav .last{
	background-image: none;
}
#copyright{
	float: right;
	margin: 0;
	padding: 3px 0 0;
}
.nav{
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav a{
	text-decoration: none;
}
/* Sections */
#facets ul,
#searchbar ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.facet h4{
	font-size: 13px;
	font-weight: bold;
	color: #26517D;
	margin: 0 0 0.5em;
	padding-left: 18px;
	background: url(../img/theme/icon-filter-small-blue.gif) no-repeat 0 50%;
}
.facet li{
	line-height: 1.5em;
}
#facets{
	width: 220px;
	float: left;
}
#searchbar{
	padding: 0 0 0 245px;
}
.latest #searchbar {
	padding: 0;
}
#breadcrumb ul{
	margin: 0;
	padding: 0 0 15px 0;
	list-style: none;
}
#breadcrumb li{
	white-space: nowrap;
	padding: 0 0 0 15px;
	margin: 0 0 0 5px;
	display: inline-block;
	background: url("../img/theme/list-arrow-empty.gif") no-repeat 0 50%;
}
#breadcrumb li:first-child{
	padding: 0;
	margin: 0 0 0 10px;
	background: none;
}
#breadcrumb a{
	text-decoration: none;
	border-bottom: 4px solid #e2e6e9;
}
#breadcrumb a:hover{
	border-bottom: 4px solid white;
}
.breadcrumb_results{
	float: left;
	width: 100%;
}
.search_export_xml {
    float: right;
    padding: 5px 0 0 0;
    margin: 0;
}

.search_latest_export_xml {
    margin-top: 5px;
    float: right;
}
#search_export_xml_pic {
    max-width: 80%;
    max-height: 80%;
}

#facets h3,
#titlemain-wrapper,
.breadcrumb_results{
	background-color: #f3f6f8;
	border: solid #e2e6e9;
	border-width: 0 0 4px;
	margin: 0;
	font-weight: normal;
	color: #333;
	text-transform: none;
}
#facets h3{
	padding: 7px 10px 7px 10px;
	text-transform: uppercase;
}
#facets h3,
.breadcrumb_results h3,
.breadcrumb_results .info_small,
.breadcrumb_results .paginationControl li{
	font-size: 12px;
	line-height: normal;
}
.opus .breadcrumb_results h3,
.opus .breadcrumb_results .info_small,
.paginationControl li {
    float: left;
	margin: 0;
	font-weight: normal;
	color: #333;
	text-transform: none;
}

.breadcrumb_results h3 {
	padding: 7px 20px 7px 10px;
	background: url(../img/theme/breadcrumb_results.png) no-repeat right center;
}
.breadcrumb_results .info_small{
	padding: 7px 0 7px 10px;
}
#searchbar .breadcrumb_results .results_pagination {
	padding: 0 0 0 15px;
    float: left;
}

.breadcrumb_results .paginationControl li {
	padding: 7px 10px 7px 0;
}
#search_options p.label{
	float: left;
	padding-left: 6px;
	font-weight: bold;
}
#searchbar .sorting_options{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sorting_options li{
	float: left;
	line-height: normal;
	margin-left: 0.5em;
}
.sorting_options a{
	text-decoration: underline;
}
.sorting_options a:hover{
	text-decoration: none;
}
.sorting_options .sort_desc,
.sorting_options .sort_asc{
	padding: 0 17px 0 13px;
	background-repeat: no-repeat;
	background-position: 100% 5px;
}
.sorting_options .sort_desc{
	background-image: url(../img/theme/icon-desc.gif);
}
.sorting_options .sort_asc{
	background-image: url(../img/theme/icon-asc.gif);
}
.sorting_options .sort_desc:hover{
	background-image: url(../img/theme/icon-desc-o.gif);
}
.sorting_options .sort_asc:hover{
	background-image: url(../img/theme/icon-asc-o.gif);
}
#search_options{
	float: left;
	width: 100%;
	margin: 1.5em 0 0.5em 0;
}
#search_results{
	float: left;
	width: 100%;
}

#search_results .fulltext-logo.fulltext {
    float: left;
    background: url(../img/fulltext24.png) no-repeat;
    height: 25px;
    width: 18px;
    top: 4px;
    left: -4px;
    position: relative;
}

#search_results .fulltext-logo.fulltext.openaccess {
    background: url(../img/fulltext24openaccess.png) no-repeat;
}

.result_box {
    border-top: 1px solid #e2e6e9;
    background: #f3f6f8 no-repeat 24px 4px;
    margin-bottom: 1em;
    min-height: 29px;
}

.result_box .abstract-wrapper {
    margin-top: 5px;
    text-align: center;
    /* background-color: #e4e7e9; */
}

.result_box a.abstract-toggle {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: black;
    height: 10px;
    width: 100%;
    background: #e8eef7;
    background-repeat: no-repeat;
    background-position: center center;
}

.result_box a.abstract-toggle.collapsed {
    background-image: url(../img/theme/bullet_arrow_down.png);
}

.result_box a.abstract-toggle.expanded {
    background-image: url(../img/theme/bullet_arrow_up.png);
}

.result_box a.abstract-toggle:hover {
    cursor: pointer;
    background-color: #e8ebed;
}

.result_box .abstractText {
    text-align: left;
    background-color: white;
}

.result_box .results_title,
.result_box .results_author {
    background: #f3f6f8 no-repeat 24px 4px;
	padding: 4px 8px 0 41px;
}
.results_title img {
	float: left;
	cursor: pointer;
	margin: -14px 0 0 -50px;
	vertical-align: bottom;
}

.result_box.fulltext {
    background: #f3f6f8 url(../img/fulltext24.png) no-repeat;
}
.result_box .results_title {
	background-image: url(../img/theme/icon-title.gif);
}
.results_title a{
	font-weight: bold;
}
.result_box .results_author{
	background-image: url(../img/theme/icon-author.gif);
}
.results_seriesnumber + .results_title {
        padding-right: 75px!important;
}
.results_title .missing_title {
    color: #ff5a5a;
}
.result_box .results_seriesnumber {
        float: right;
        text-align: right;
        min-width: 50px;
        padding: 4px 8px 0 12px;
        color: black;
}
.result_box .abstractText {
	padding: 3px 6px;
	margin: 0;
	line-height: 1.5em;
}
/* Browsing */
.nav.help li,
.nav.browsing li{
	background: url(../img/theme/list-arrow.gif) no-repeat;
}
.nav.browsing li.empty-collection{
	background: url(../img/theme/list-arrow-empty.gif) no-repeat 10px 1em;
}
.nav.browsing li{
	font-size: 1.1em;
	padding: 0.6em 25px;
	border: solid #E2E6E9;
	border-width: 0 0 1px;
	background-position: 10px 1em;
	color: #888;
}
.nav.browsing li.last{
	border: none;
}
.nav.browsing li:hover{
	background: url(../img/theme/list-arrow-o.gif) no-repeat 10px 1em;
	background-color: #f3f6f8;
}
.nav.browsing li.empty-collection:hover{
	background: url(../img/theme/list-arrow-empty.gif) no-repeat 10px 1em;
	background-color: #f3f6f8;
}
.nav.browsing li:hover a{
	color: #fe7c25;
}
.nav.browsing li.empty-collection:hover{
	color: #888;
}
.nav.browsing a.rss{
	padding: 0 0 0 10px;
}
.nav.browsing .rss img{
	vertical-align: bottom;
}
/* Help */
.opus .section h3{
	border-bottom: 4px solid #e2e6e9;
}
.nav.help li{
	padding: 0.3em 25px;
	background-position: 10px 0.7em;
}
.section.answers{
	padding: 25px 0 0;
}
.section.answers dt{
	color: #333;
	font-weight: normal;
	font-size: 1.2em;
	padding: 10px 0 4px;
}
.section.answers dd {
	line-height: 1.4em;
	/*margin: 6px 0 0 0;*/
}
.backlink{
	background: url(../img/theme/icon-arrow-top.gif) no-repeat 0 50%;
	padding: 0 0 0 12px;
}
/* Styled search form
----------------------------------------------------------------------------------- */
.form-submit-wrapper,
.form-submit{
	display: inline-block;
	height: 28px;
}
.form-submit-wrapper{
	background: url(../img/theme/bg_button_l.gif) no-repeat left center;
}
.form-submit{
	background: transparent url(../img/theme/bg_button_r.gif) no-repeat right center;
        border: none;
	color: white;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0 15px;
}
.solrsearch_search .form-submit-wrapper,
.solrsearch_advanced .form-submit-wrapper{
	background: none;
}
.solrsearch_advanced .form-submit,
.solrsearch_search .form-submit{
	background: url(../img/theme/bg_button_l.gif) no-repeat left center;
}
.solrsearch_advanced .form-submit,
.solrsearch_search #reset-form .form-submit,
.solrsearch_search .opus_form .form-submit{
        -moz-border-radius: 6px;
	border-radius: 6px;
}
#edit-submit-advanced-search-wrapper{
	float: left;
	padding: 0 1em 0 20px;
}
#form-search p.footer-link{
	padding: 10px 0 0 10px;
	margin: 0;
}
#fieldset-search{
	background: url(../img/theme/bg_search.png) no-repeat;
	width: 535px;
	margin: auto;
	padding: 0 0 0;
}
#fieldset-search fieldset{
	padding: 5px 5px 0 40px;
	margin: 0;
	border: none;
}
#edit-search-wrapper{
	float: left;
	clear: none;
	width: auto;
	padding: 0;
}
#edit-submit-search-wrapper{
	float: right;
}
#fieldset-search .form-text{
	width: 370px;
	font-size: 18px;
	border: none;
	background-color: transparent;
	padding: 2px 0 0;
	font-family: Arial, Helvetica, sans-serif;
}
#fieldset-search .form-submit-wrapper,
#fieldset-search .form-submit{
	display: inline-block;
	height: 28px;
}
#fieldset-search .form-submit-wrapper{
	background: url(../img/theme/bg_button_l.gif) no-repeat left center;
}
#fieldset-search .form-submit{
	background: transparent url(../img/theme/bg_button_r.gif) no-repeat right center;
	border: none;
	color: white;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	width: 100px;
}
.form-submit:hover,
#fieldset-search .form-submit:hover{
	color: #feb07c;
}
.debug {
	float: left;
	width: 100%;
	/* background-color: white; */
}
#fieldset-searchfields select {
	width: 100%;
}

/* Series browsing */

#seriesbar {
    padding: 10px;
    margin-bottom: 30px;
}

#serieslogo {
    width: 400px;
    float: left;
}

#seriesinfobox {
    padding-left: 420px;
    font-size: larger;
    color: #26517D;
}

#seriesinfobox.max-width-available {
    padding-left: 0;
}

.wrapper li a.rss {
    float: right;
    padding-right: 0;
}

.preserve-spaces {
    font-family: inherit; /* use same font as rest of page */
    white-space: pre-wrap;
    margin: 0 0;
}

#appmode-production {
    display: none;
}

/* Testumgebung */
#top-header .testing,.staging,.development {
    color: black;
    background: #ff5a5a;
    font-weight:bold;
    font-size:120%;
    text-align: center
}

a.orcid-link {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    margin-left: 3px;
    vertical-align: top;
    background: url(../../../img/orcid/orcid_16x16.png) no-repeat 0 0;
    text-indent: -9999px;
}

a.gnd-link {
	margin-left: 3px;
	margin-right: 3px;
	padding: 1px 2px 1px 2px;
	background-color: #d8e9f3;
	border-top: 1px solid #0b58a2;
	border-bottom: 1px solid #0b58a2;
	text-decoration: none;
	font-weight: bold;
	font-size: 80%;
	vertical-align: top;
}

.export-links.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: transparent;
    color: gray;
    padding: 4px 8px;
    padding-right: 16px;
    margin-top: 3px;
	margin-left: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: url(../img/theme/bullet_arrow_down.png) no-repeat right center;
}

/* dropdown-content */
.export-links.dropdown ul {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    /* min-width: 80px; */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.export-links.dropdown ul li:hover {
    background-color: white;
}

.export-links.dropdown ul li {
    color: black;
    padding: 0;
    display: block;
    text-align: right;
}

.export-links.dropdown ul li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 5px 10px;
}

.export-links.dropdown:hover ul {
    display: block;
}

.export-links.dropdown:hover .dropdown-button {
    background-color: lightgray;
    color: black;
}

/* MIME type icons */

#download-fulltext li {
    margin-bottom: 1em;
}

#download-fulltext a,
#download-fulltext .protected-file {
    word-break: break-all;
    word-wrap: break-word;
    padding: 0 0 0 20px;
    margin: 0;
    display: inline-block;
    text-indent: 0px;
    line-height: 18px;
    min-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: top;
    max-width: 78%;
}

#download-fulltext .file-size {
    display: block;
    padding: 0 0 0 20px;
    font-size: 90%;
    color: gray;
}

#download-fulltext .file-language {
    position: relative;
    float: right;
    font-size: 90%;
    color: gray;
}

#download-fulltext img.file-language {
    top: 4px;
}

#download-fulltext p {
    padding: 0 0 0 20px;
    font-style: italic;
}

#download-fulltext a.application_pdf {
    background-image: url("../img/filetype/application_pdf.png");
}

#download-fulltext a.application_postscript {
    background-image: url("../img/filetype/application_postscript.png");
}

#download-fulltext a.application_xhtml\+xml {
    background-image: url("../img/filetype/application_xhtml+xml.png");
}

#download-fulltext a.text_plain {
    background-image: url("../img/filetype/text_plain.png");
}

#download-fulltext a.text_html {
    background-image: url("../img/filetype/text_html.png");
}

#download-fulltext a.image_png {
    background-image: url("../img/filetype/image_png.png");
}

#download-fulltext a.image_gif {
    background-image: url("../img/filetype/image_gif.png");
}

#download-fulltext a.image_bmp {
    background-image: url("../img/filetype/image_bmp.png");
}

#download-fulltext a.image_application_octed-stream {
    background-image: url("../img/filetype/application_octet-stream.png");
}

/* TODO merge options-links CSS with export-links CSS */

.option-links.dropdown {
	float: right;
	position: relative;
	display: inline-block;
}

.option-links.dropdown ul {
	display: none;
	position: absolute;
	background-color: whitesmoke;
	/* min-width: 80px; */
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
	right: 0;
}

.option-links.dropdown ul li:hover {
	background-color: white;
}

.option-links.dropdown ul li {
	color: black;
	padding: 0;
	display: block;
	text-align: right;
}

.option-links.dropdown ul li a {
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: 5px 10px;
}

.option-links.dropdown:hover ul {
	display: block;
}

.option-links.dropdown:hover .dropdown-button {
	background-color: lightgray;
	color: black;
}

/* Combobox using jQuery styling */

.custom-combobox {
	position: relative;
	display: inline-block;
}
.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
}
.custom-combobox-input {
	margin: 0;
	padding: 5px 10px;
}

.form-help {
    padding: 0.5em;
    margin: 1em 0.5em 1em 0.5em;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size: 1em;
}

.form-help blockquote {
    font-style: italic;
	padding: 0.2em;
	margin: 1em 2em 1em 2em;
}

/* TODO use same styling for all pages */
.admin_person_edit input {
    padding: 5px 10px;
    font-size: 1em;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
}

/* remove radius applied to right side for combo boxes */
.admin_person_edit input.custom-combobox-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.admin_person_edit .ui-widget-content {
    background-color: white;
}

.admin_person_edit .data-wrapper {
    margin-bottom: 0.75em;
}

.update-field-wrapper {
    padding-bottom: 0.5em;
    font-size: 1em;
}

.admin_person_edit .data-wrapper label {
    font-size: 1.1em;
}
table.search-form-table select{
    min-width: 100%;
}


#documentUpload .description {
	white-space: pre-line;
}

#actionboxContainer li.edit a {
	background: url(../img/theme/admin/sprite_icons.png) no-repeat;
}

#actionboxContainer li.edit a {
	background-position: -20px -256px;
	padding-left: 16px;
}

input[type='text'].invalid {
	background-color: #ffd4d4;
}