body{
	margin: 0;
	padding: 0;
	color: Black;
	background: #26517c;
	font: 100.01% Verdana, Geneva, Arial, Helvetica, sans-serif;
}
a img{
	border: none;
}
#logo{
	margin: 0;
	float: left;
	height: 89px;
	width: 185px;
	padding: 0 10px 0 0;
	background: white url(../img/theme/bg_logo.jpg) no-repeat right;
}
#logo img{
	vertical-align: bottom;
}
#top-header{
	background: #f4f6f8 url(../img/theme/bg_top-header.jpg) repeat-x bottom;
	height: 33px;

}
body > #top-header{
	height: auto;
	min-height: 33px;
}
.wrapper{
	width: 1024px;
	margin: auto;
}
.nav a{
	text-decoration: none;
}
#lang-switch{
	float: right;
	color: #26517d;
	font: normal 12px Arial, Helvetica, sans-serif;
}
#lang-switch li{
	padding: 0 7px 0 11px;
	background: url(../img/theme/langswitch-separator.png) no-repeat left center;
	float: left;
	line-height: 30px;
}
#lang-switch li.first{
	background: url(../img/theme/flag_ie.jpg) no-repeat left center;
	padding-left:22px;
}

#lang-switch > li.first{
	background: url(../img/theme/flag.png) no-repeat left center;
}
#lang-switch em{
	font-style: normal;
	color: black;
	background-color: transparent;
}
#lang-switch a{
	color: #26517d;
	background-color: transparent;
	text-decoration: none;
}
#lang-switch a:hover{
	text-decoration: underline;
}
#header{
	height: 97px;
	background: url(../img/theme/bg_header.jpg) repeat-x;
	padding: 1px 0 0;
}
#primary-nav{
	float: right;
}
#primary-nav *{
	float: left;
	font: normal 14px Arial, Helvetica, sans-serif;
	color: #26517d;
	background-color: transparent;
}
#primary-nav em,
#primary-nav a{
	height: 89px;
	padding: 0 23px 0 15px;
}
#primary-nav em,
#primary-nav a:hover{
	background: url(../img/theme/button.jpg) no-repeat 100% 0;
}
#primary-nav .active *{
	color: #fe7c25;
}
#primary-nav span{
	padding: 58px 0 0;
	height: 31px;
}
#primary-nav a span{
	cursor: pointer;
}
/*#primary-nav-search span,
#primary-nav-browsing span,
#primary-nav-publish span{
	background-repeat: no-repeat;
	background-position: 50% 0;
}
#primary-nav-search a:hover span,
#primary-nav-search em span,
#primary-nav-browsing a:hover span,
#primary-nav-browsing em span,
#primary-nav-publish a:hover span,
#primary-nav-publish em span{
	background-position: 50% -89px;
}*/
#primary-nav .icon span{
	background-repeat: no-repeat;
	background-position: 50% 0;
}
#primary-nav .icon em span{
	background-position: 50% -89px;
	behavior: url("/pngbehavior.htc");
}
#primary-nav-search span{
	background-image: url(../img/theme/icon-search.png);
}
#primary-nav-browsing span{
	background-image: url(../img/theme/icon-browsing.png);
}
#primary-nav-publish span{
	background-image: url(../img/theme/icon-publish.png);
}
#content{
	background: white;
	min-height: 600px;
}
#content .wrapper{
	padding: 20px 0 3em 0;
	font-size: 0.8em;
}
#footer{
	height: 163px;
	background: #e7ecf0 url(../img/theme/bg_footer.jpg) repeat-x bottom;
}
#footer .wrapper{
	font-size: 12px;
	padding: 40px 0 0;
	color: white;
	background-color: transparent;
}
#footer .wrapper a{
	color: #dee5eb;
	background-color: transparent;
}
#footer .wrapper a:hover{
	text-decoration: underline;
}
#secondary-nav li{
	float: left;
	padding: 3px 11px 5px;
	background: url(../img/theme/footer-separator.jpg) no-repeat right center;
}
#secondary-nav .last{
	background-image: none;
}
#copyright{
	float: right;
	margin: 0;
	padding: 3px 0 0;
}
.nav{
	margin: 0;
	padding: 0;
	list-style: none;
}

/* publication form related css rules */

.formerror {
	color:red; 
	font-weight: big; 
	padding: 10pt;
}

.formhint {
	text-align: right;
}