<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
 * This file is part of OPUS. The software OPUS has been originally developed
 * at the University of Stuttgart with funding from the German Research Net,
 * the Federal Department of Higher Education and Research and the Ministry
 * of Science, Research and the Arts of the State of Baden-Wuerttemberg.
 *
 * OPUS 4 is a complete rewrite of the original OPUS software and was developed
 * by the Stuttgart University Library, the Library Service Center
 * Baden-Wuerttemberg, the Cooperative Library Network Berlin-Brandenburg,
 * the Saarland University and State Library, the Saxon State Library - 
 * Dresden State and University Library, the Bielefeld University Library and 
 * the University Library of Hamburg University of Technology with funding from 
 * the German Research Foundation and the European Regional Development Fund.
 *
 * LICENCE
 * OPUS is free software; you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software
 * Foundation; either version 2 of the Licence, or any later version.
 * OPUS is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details. You should have received a copy of the GNU General Public License 
 * along with OPUS; if not, write to the Free Software Foundation, Inc., 51 
 * Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 *
 * @category
 * @package
 * @author		Eike Kleiner <Eike.Kleiner@bsz-bw.de>
 * @copyright	Copyright (c) 2008, OPUS 4 development team
 * @license		http://www.gnu.org/licenses/gpl.html General Public License
 * @version		$Id$
-->

<menu>
	
	<!-- General hints on the publication process. Documenttype and licence selection.   -->
	<page caption="publish">
	
		<field name="document_type" repeatable="no" language="no" />
		<field name="licence" repeatable="yes" language="no" />
		<field name="language" repeatable="no" language="yes" />
		
	</page>
	
	
	<!-- Title and creator data -->
	<page caption="document">
		
		<!-- persons -->
		<field name="person_author" repeatable="yes" language="no" />
		<field name="person_author_email" repeatable="no" language="no" />
		<field name="person_advisor" repeatable="no" language="no" />
		<field name="person_referee" repeatable="yes" language="no" />
		<field name="person_other" repeatable="yes" language="no" />
		
		<!-- institutions -->
		<field name="institute_name" repeatable="yes" language="yes" />
		<field name="non_institute_affiliation" repeatable="yes" language="yes" />
		
		<!-- titles -->
		<field name="title_main" repeatable="yes" language="yes" />
		<field name="title_abstract" repeatable="yes" language="yes" />

	</page>
	
	
	<!-- Dates, subjects and classifications -->
	<page caption="content">
		
		<!-- dates -->
		<field name="completed_date" repeatable="no" language="no" />
		<field name="completed_year" repeatable="no" language="no" />
		<field name="published_date" repeatable="no" language="no" />
		<field name="published_year" repeatable="no" language="no" />
		<field name="date_accepted" subcaption="" repeatable="no" language="no" />
		
		<!-- subjects -->
		<field name="subject_swd" repeatable="yes" language="no" />
		<field name="subject_ddc" repeatable="yes" language="yes" />
		<field name="subject_uncontrolled" repeatable="yes" language="yes" />
		
	</page>
	
	
	<!-- Identifiers and collections -->
	<page caption="collections">
	
		<!-- identifiers -->
		<field name="identifier_isbn" repeatable="yes" language="no" />
			
		<!-- collections -->
		<field name="collection_title" repeatable="yes" language="yes" />
		<field name="collection_sequence_nr" repeatable="yes" language="no" />
		<field name="title_parent" repeatable="yes" language="yes" />
		
	</page>
	
	
	<!-- Upload interface. -->
	<page caption="upload">
	
		<!-- show upload interface with filemanager etc  -->
		
	</page>
	
	
	<!-- Preview,  control and confirmation. -->
	<page caption="preview">
	
		<!-- show all entered data and give possibility to correct or confirm it -->
		
	</page>
		
</menu>
