/* CSS Document */
html{
    height:100%;
    margin:0;
    padding:0;
    margin-bottom:1px;
    scrolling:yes;
}

body{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #182849;
    height:100%;
    margin:0;
    padding:0;
}
table tr td{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #182849;
    }
table tr td a{
    color: #182849;
    }

table th {
    text-align:center;
    }
    
a.home:link, a.home:visited{
    text-decoration:none;
    color:#FE0607;
}

a.home:hover{
    text-decoration:underline;
    color:#FE0607;
}

.navi_links {
    font-size: 11px;
    color: #182849;
    word-spacing:0.8em;
    text-align:left;
}
.navi_links.zusammen {
    word-spacing:0em;
    }
.navi_rechts {
    font-size: 11px;
    color: #182849;
    word-spacing:0.8em;
}

.breadcrumb{
    margin-left:40px;
    font-size:12px;
}
    

.content {
    font-size: 12px;
    color: #182849;
    text-align:left;
/*  line-height:14px; */
    line-height:150%;
}

.imgCaptionRedSmall{
    color:#FE0607;
    font-weight:bold;
    margin-bottom:8px;
    margin-top:4px;
    font-size:12px;
}
.content h1 {
    margin-top:12px;
    font-size: 14px;
    font-weight:bold;
}
.content h2{
    font-size: 13px;
    color:#182849;
    font-weight:bold;
    margin-bottom:0px;
    margin-top:0px;
/*    display:inline; */
}
.indexHeader2{
    font-size: 13px;
    color:#FE0607;
    font-weight:bold;
    margin-bottom:0px;
    margin-top:0px;
/*    display:inline; */
}

.content ul{
    list-style-type:disc;
    /*color:#FE0607;
    padding-left:12px;*/
    /*margin-right:-12px;*/
    margin-left:0.5em; 
    padding-left:0.5em
}
.content ul li{
    margin-bottom:10px;
    font-size:12px;
    /*width:655px;*/
}
.bg_l {
    width: 40px;
    padding: 0px;
    }
.bg_l_oben {
    width: 40px;
    padding: 0px;
    }
.bg_r {
    border-right:1px solid #d8e1ea;
    width: 40px;
    padding: 0px;
    }
.bg_r_oben {
    width: 40px;
    padding: 0px;
    }
.bg_oben {
    /*width: 1px;*/
    border-bottom:1px solid #d8e1ea;
    padding: 0px;
    text-align:left;
    }
.bg_unten {
    width: 1024px;
    padding: 0px;
    text-align:center;
    }
    
div#lang{
    text-align:right;
} 

.matheon{
    font-variant:small-caps;
}

.whitesmall {
    font-family:Arial,Helvetica,sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none
}

.whitesmallnohover {
    font-family:Arial,Helvetica,sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none
}

.whitesmallnohover:hover {
    font-family:Arial,Helvetica,sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none
}

.whitesmall:link {
    font-family:Arial,Helvetica,sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:none
}

.whitesmall:hover {
    font-family:Arial,Helvetica,sans-serif;
    font-size:10px;
    font-weight:bold;
    color:#FFFFFF;
    text-decoration:underline
}


td.tableline { background-color:#F3F6F6;color:#003366; }
/*-----------------------------------Tabellen Border------------------------------*/
.tab_l{
    border-left: 1px solid #d8e1ea;
}
.tab_r{
    border-right: 1px solid #d8e1ea;
}
.tab_u{
    border-bottom: 1px solid #d8e1ea;
}
.tab_o{
    border-top: 1px solid #d8e1ea;
}
/*-----------------------------------Hauptnavigation------------------------------*/
        
div#Tmenu {
    width:355px;
    margin-left:-4px;
    /*border: 1px solid black;
    background-color: #eee;*/
}

div#Tmenu2 {
    width:298px;
/* padding: 0.8em; */
    /*border: 1px solid black;
    background-color: #eee;*/
}

* html div#Tmenu,* html div#Tmenu2 {
/* width: 41.4em;
    w\idth: 39.8em;   IE 6 in standards-compliant mode */
}
div#Tmenu div, div#Tmenu2 div {
    clear: left;
}
ul#Navigation {
    margin: 0;
    padding-left:2px;
    padding-right:2px;
    /*text-align: center;*/
}

ul#Navigation li {
    list-style:none;
    float: left;
    position: relative;
    margin-right: 10px;
    margin: 0.1em;
    margin-bottom: -0.2em; 
}
* html ul#Navigation li {
    /*margin-bottom: -0.4em;*/
}

ul#Navigation li ul {
    margin: 0; padding: 0;
    position: absolute;
    z-index:7;
    /*top: 15px; left: 3px;*/
    /*width:350px;  horizontal/vertikal */
}
* html ul#Navigation li ul {
    /*left: -1.5em;
    lef\t: -0.4em;*/
}

ul#Navigation li ul li {
    float: none;
    display: block;
    background-color: #d8e1ea;
    width:150px;
    padding:5px;
    margin:0px;
}

* html ul#Navigation li ul li {
    margin-bottom: -5px;
    width:160px;
}

ul#Navigation a, ul#Navigation span {
    display: block;
    font-size:12px;
    /*width: 11em;*/
    text-decoration: none; 
    /*font-weight: bold;*/
    /* padding: 0.23em 0.97em 0.17em 1.03em; */
    /* border: 1px solid #600;*/
    /* border-left-color: #ea0; border-top-color: #ea0;*/
    color: #182849; 
    /*background-color: #c00;*/
    white-space:nowrap;
}
* html ul#Navigation a, * html ul#Navigation span {
    /*width: 9.2em;
    w\idth: 7em;   IE 6 in standards-compliant mode */
}
ul#Navigation a:hover, ul#Navigation span, li a#aktuell:hover {
    /*padding: 0.17em 1.03em 0.23em 0.97em;
    border-color: #ea0;
    border-left-color: #900; border-top-color: #900;
    background-color: #e00;*/
    background-color: #d8e1ea;
    
}
ul#Navigation li ul a:hover {
    /*border-color: #900;*/
    text-decoration:underline;
}
li a#aktuell {
    font-weight:bold;
    /* border-right-color: #300; border-bottom-color: #300;*/
    /* background-color: #900;*/
}
ul#Navigation li ul span {
    border-right-color: #c96; border-bottom-color: #c96;
    /*color: #900; */
    background-color: #d8e1ea;
    font-weight:bold;
}
ul#Navigation li a:active, ul#Navigation li:hover a:active {
    /* color: black; background-color: #f00;*/
}

/* dynamisches Ein-/Ausblenden */
ul#Navigation li ul {
    display: none;
}
ul#Navigation li:hover ul {
    display: block;
    /* background: #eee; */
}

/*------------------------- Schatten für die Bilder -------------------------*/
/*               Gorßes Bild              */
div.beftershadow {
        position:relative;
        background:url(/pics/shadow.gif) right bottom no-repeat;
        width:433px;
        height:323px;
    }
* html div.beftershadow {
    z-index:-1;
}
div.beftershadow:before {
        background:url(/pics/corner_tr.gif) 100% -16px no-repeat;
        display:block;    
        height:8px;
        content:"";
        margin-bottom:-8px;
    }
div.beftershadow:after {
        background:url(/pics/corner_bl.gif) -16px -16px no-repeat;
        display:block;
        width:8px;
        height:8px;
        content:"";
    }
div.beftershadow img {
display:block;
}

/*               Kleines Bild oben              */
div.beftershadowSmallTop {
        position:relative;
        background:url(/pics/shadow.gif) right bottom no-repeat;
        width:205px;
        height:144px;
    }
div.beftershadowSmallTop:before {
        background:url(/pics/corner_tr.gif) 100% -16px no-repeat;
        display:block;    
        height:8px;
        content:"";
        margin-bottom:-8px;
    }
div.beftershadowSmallTop:after {
        background:url(/pics/corner_bl.gif) -16px -16px no-repeat;
        display:block;
        width:8px;
        height:8px;
        content:"";
    }
div.beftershadowSmallTop img {
display:block;
}div.beftershadowSmallTop img{
/* filter:progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, direction=135, strength=8);*/
}


/*               Kleines Bild unten              */
div.beftershadowSmallBottom {
        position:relative;
        background:url(/pics/shadow.gif) right bottom no-repeat;
        width:205px;
        height:144px;
    }
div.beftershadowSmallBottom:before {
        background:url(/pics/corner_tr.gif) 100% -16px no-repeat;
        display:block;    
        height:8px;
        content:"";
        margin-bottom:-8px;
    }
div.beftershadowSmallBottom:after {
        background:url(/pics/corner_bl.gif) -16px -16px no-repeat;
        display:block;
        width:8px;
        height:8px;
        content:"";
    }

div.beftershadowSmallBottom img {
    display:block;
}

div.beftershadowSmallBottom img{
     /* filter:progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, direction=135, strength=8);*/
}