.titlemain {
    margin-top:.5em;
    margin-bottom:.3em;
}

.abstract {
    margin-top:.2em;
    margin-bottom:.3em;
}

.authorTitle {

}

.authorTitle table {
    display:inline;
}

.authorTitle table tr {
    display:inline;
}

.authorTitle table tr td {
    display:inline;
    padding-right:1em;
}

.authorTitle a {
    font-size:2em;
}

.authorTitle .name {
    display:none;
}

.frontdoor table {
    margin:0px;
    padding:0px;
}

.frontdoor table th {
    font-size: 0.9em;
    color: #FFA500;
    font-weight: normal;
    padding: 2px 2px 2px 2px;
    width: 10%;
    vertical-align: top;
    width: 30px;
    border: none;
}

.frontdoor table th.name {
    font-size:0.9em;
    color: #006699; /* hellblau, blue wie Links, #FFA500 orange */
    padding: 2px 2px 2px 2px;
    vertical-align: top;
    text-align: left;
    width: 150px;
}

.frontdoor table td {
    border-bottom: none;
    font-size:0.9em;
    padding: 2px 2px 2px 2px;
    vertical-align: top;
    border: none;
}

.frontdoor table td.fulltext_label {
    font-size: 1em;
    text-align: left;
    padding-top: 40px;
}


.frontdoor .services-menu fieldset {
    width:auto;
}

.frontdoor #download-fulltext ul {
    list-style-type: none;
}

.frontdoor #download-fulltext ul li img {
    margin-right:.5em;
}