img,
.png,
#primary-nav-browsing span,
#primary-nav-search span,
#primary-nav-publish span{
position:relative;
behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "../img/theme/clear.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
);
}
.breadcrumb_results h3,
#searchbar .breadcrumb_results .paginationControl{
    background-image: none;
}


dl.result_box{
    float: left;
    width: 100%;
    background: white;
}
.opus fieldset .form-errors{
    background-image: none;
}
#content {
    height: 600px;
}
#primary-nav .icon.active span{
    background-position: 50% -89px;
}
#fieldset-search{
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/theme/bg_search.png', sizingMethod='crop');
    background: none no-repeat;
}
#fieldset-search .form-submit,
#fieldset-search .form-text{
    position: relative;
    z-index: 100;
}
.opus legend{
    width: 130px;
}
.form-button{
    font-family: Arial, Helvetica, sans-serif;
}
.opus.publish fieldset{
    height: 8em;
}
